---
http_interactions:
- request:
    method: get
    uri: https://date.nager.at/api/v3/NextPublicHolidays/us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 2.0, 3.0
      Last-Modified:
      - Sat, 11 Jun 2022 21:27:44 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2022-06-20","localName":"Juneteenth","name":"Juneteenth","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":2021,"types":["Public"]},{"date":"2022-07-04","localName":"Independence
        Day","name":"Independence Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2022-09-05","localName":"Labor
        Day","name":"Labour Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2022-10-10","localName":"Columbus
        Day","name":"Columbus Day","countryCode":"US","fixed":false,"global":false,"[...]
[...]
